.hidden {
  display: none;
}

li:hover {
  cursor: pointer;
}

.details {
  background-color: pink;
  padding: 10px;
  font-family: monospace;
  color: hotpink;
  position: fixed;
  top: 15px;
}

button {
  color: hotpink;
}
